/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}
/* for barchart*/
.axis.domain{
	stroke: none;
}
.tooltip{
	 position: sticky;
	opacity:0;
	background: #eee;
	max-width: 200px;
	pointer-events: none;
}
.tip-header {
	border-bottom: 2px solid white;
	padding: 0.9rem 1rem;
}
.tip-body{
	padding: 0.2rem 0;
}
h3{
	font-size: .9rem;
	color: #555;
	margin: 0;
}
.tip-info{
	margin: 0;
	padding: 0.3rem 1em;
	font-size: 0.8em;
}
.x line {
	stroke: white;
}
/*end for barchart*/
h1, h2, h3 {
	line-height: 1.2
}

/* Your text should be in a nice narrow column */
.content-column {
	max-width: 650px;
	margin: 40px auto;
	display: block;
}

/* But your visualization should be full-width and full-height */
.vis-holder {
  width: 100%;
  height: 100%;
  display: table;
}

.vis-svg {
  background-color: #f4f1f0;
}

#div-vis-1 {
	width: 60%;
	float: left;
}
#div-vis-1 h4 {
	text-align: center;
}

.vis-svg-types {
	background-color: #f4f1f0;
}

.vis-filter-div {
	width: 40%;
	float: right;
	display: table;
}
.vis-filter-div h4 {
	text-align: center;
}

#filter {
	width: 33%;
	padding: 5px;
}
#div-pkg-tree-map {
	width: 63%;
}

.vis-svg-pkgfun {
	background-color: #f4f1f0;
	font-size: 8px;
	padding: 6px;
}

.vis-svg-pkgfun .tm-header {
	
}
.vis-svg-pkgfun .tm-header-text {
	fill: black;
	font-size: 9px;
}

.vis-svg-pkgfun .tm-footer {
	
}
.vis-svg-pkgfun .tm-footer-text {
	fill: white;
	font-size: 7px;
}

.vis-svg-pkgfun .tm-block {
}
.vis-svg-pkgfun .tm-block-text {
	font-size: 6px;
	font-family: monospace;	
}
.vis-svg-pkgfun .tm-block-number {
	font-size: 6px;
	font-family: monospace;
}

.tm-node {
}

.tm-node:hover {
	cursor: pointer;
}
.tm-node:hover rect {
	stroke: white;
	stroke-width: 2px;
}

.tm-node-selected {
	font-weight: bold;
}

.side-right {
	float: right;
/*	overflow-y: auto;
	overflow: hidden;*/
}

.side-left {
	float: left;
/*	overflow-y: auto;
	overflow: hidden;*/
}

.side {
	float: left;
/*	overflow-y: auto;
	overflow: hidden;*/
}

#div-fun-info {
	width: 100%;
	display: block;
}

#div-fun-tree-map {
	width: 60%;
}

#barchart-1 {
	width: 40%;
}

.vertical-menu li {
	height: 30px;
	background-color: #eee; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
}

.vertical-menu li:hover {
	background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu li.active {
	background-color: #4CAF50; /* Add a green color to the "active/current" link */
	color: white;
}

.vertical-menu  {
	overflow-x:hidden;
	overflow-y: scroll;
	height: 400px;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */
#forkongithub a{
	background:#00F;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:1.4rem;
	position:relative;
	transition:0.5s;
}
#forkongithub a:hover{
	background:#118;
	color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	left:0;
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:1000px){
	#forkongithub{
		position:absolute;
		display:block;
		top:0;
		right:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}
	#forkongithub a{
		width:200px;
		position:absolute;
		top:60px;
		right:-60px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}