/* General formatting */
body {
	padding: 0 10px;
	font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next",avenir, "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu, "franklin gothic medium", "century gothic", "Liberation Sans",
	sans-serif;
}

h1, h2, h3 {
	line-height: 1.2;
}

/* Your text should be in a nice narrow column */
.content-column {
	max-width: 650px;
	margin: 40px auto;
	display: block;
}

.example-text {
	font-size: 17px;
}
.code-font {
	font-family: monospace;
	font-size: 16px;
	letter-spacing: 0.05em;
	background-color: #f4f1f0;
	padding: 1px 3px 1px 3px;
}

#Rlogo {
	float: right;
	margin: 10px;
}

.vis-svg {
  	background-color: #f4f1f0;
}

.centered-block {
	margin: 0 auto;
	max-width: 440px;
}

.loader {
	border: 16px solid #7bccc4; /* #f3f3f3; /* Light grey */
	border-top: 16px solid #0868ac; /* #3498db; /* Blue */
	animation: spin 2s linear infinite;
	border-radius: 50%;
	position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    width: 120px;
    height: 120px;
    z-index: 9999;
  }

  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

/* ************************************************** */
/* Visualization Style */
/* ************************************************** */

#div-entire-vis {
	max-width: 1800px;
	margin: 0 auto;
}

#navigation-div {
	position: fixed;
	left: 2px;
	top: 2px;
	display: flex;
	margin: 2px;
	z-index:9999;
}
.navigation-button {
	padding: 6px;
	background-color: #0868ac;
	color: white;
	min-width: 50px;
	text-align: center;
	line-height: 1.1;
	/*font-size: 14px;
	letter-spacing: 0.1em;*/
	/*font-weight: 500;*/
	border: solid 2px white;
	cursor: pointer;
	z-index:9999;
}
.navigation-button:hover {
	background-color: #08ac68;
}

.blockDiv {
	padding: 20px;
	padding-top: 0px;
}

#div-entire-vis h2,h3,h4 {
	margin: 0px;
	margin-bottom: 10px;
	text-align: center;
}

.rounded-block {
	margin: 0 auto;
	min-width: 540px;
	max-width: 560px;
	border-radius: 6px;
	border: silver 1px solid;
	padding: 8px;
	background-color: #fcfcfc;
}

/* ---------------------------------------- */
/* Analysis Info */
/* ---------------------------------------- */

#table-info td {
	/*padding: 2px;*/
	min-width: 80px;
	text-align: left;
}

#table-info td.tdseparator {
	min-width: 10px;
	max-width: 10px;
}

#table-info td.centered {
	text-align: center;
	font-family: monospace;
}

/* ---------------------------------------- */
/* Visualization Settings */
/* ---------------------------------------- */

#div-vis-settings {
	text-align: left;
}

#div-vis-settings td {
	vertical-align: top;
	min-width: 80px;
}

#div-vis-settings td.tdseparator {
	min-width: 10px;
	max-width: 10px;
}

#textSelectionsNum {
	width: 26px;
}
#textPackagesExclude {
	width: 200px;
	height: 60px;
	font-size: 14px;
}

/* ---------------------------------------- */
/* Function Selection */
/* ---------------------------------------- */

#div-select-function {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* ---------------------------------------- */
/* Types Overview */
/* ---------------------------------------- */

/* types overview */
#div-vis-1 h4 {
	text-align: center;
}
.vis-svg-types {
	width: 100%;
	background-color: #f4f1f0;
}

/* ---------------------------------------- */
/* Analyzed Packages Filter */
/* ---------------------------------------- */

#div-filter-vis-content {
	max-width: 280px;
	margin: 0 auto;
}

.vis-filter-div h4 {
	text-align: center;
}

#textAnalyzedPackage {
	max-width: 160px;
	font-family: monospace;
}

#filter {
	padding: 0px;
	margin: 0px;
}

.vertical-menu  {
	padding: 0px;
	overflow-x:hidden;
	overflow-y: scroll;
	max-height: 250px;
	max-width: 300px;
}

.vertical-menu li {
	font-size: 16px;
	height: 30px;
	min-width: 210px;
	background-color: #f4f1f0 /*#eee*/; /* Grey background color */
	color: black; /* Black text color */
	display: block; /* Make the links appear below each other */
	padding: 2px; /* Add some padding */
	text-decoration: none; /* Remove underline from links */
}

.vertical-menu li:hover {
	background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu li.active {
	background-color: #4CAF50; /* Add a green color to the "active/current" link */
	color: white;
}

/* ---------------------------------------- */
/* Packages/Functions TreeMaps */
/* ---------------------------------------- */

/*#h4DefPackagesInTreeMap {
	display: block;
}*/

.vis-svg-pkgfun {
	background-color: #f4f1f0;
	font-size: 13px;
	padding: 2px;
}

.vis-svg-pkgfun .tm-header-text {
	fill: black;
	font-size: 11px;
}

.vis-svg-pkgfun .tm-footer-text {
	fill: white;
	font-size: 10px;
}

.vis-svg-pkgfun .tm-block-text {
	font-size: 9px;
	font-family: monospace;
}
.vis-svg-pkgfun .tm-block-number {
	font-size: 8px;
	font-family: monospace;
}
.vis-svg-pkgfun .tm-block-text-small {
	font-size: 8px;
	font-family: monospace;
}

.tm-node:hover {
	cursor: pointer;
}
.tm-node:hover rect {
	stroke: white;
	stroke-width: 2px;
}

.tm-node-selected {
	font-weight: bold;
}

/* ---------------------------------------- */
/* BarChart */
/* ---------------------------------------- */

#div-barchart-1 {
	max-width: 700px;
	margin: 20px auto;
}

.bar-header {
	font-size: 14px;
}

/* for barchart*/
.axis.domain{
	stroke: none;
}
.tooltip {
	display: none;
	position: fixed;
	/*opacity:0;*/
	background: #eee;
	min-width: 160px;
	max-width: 200px;
	pointer-events: none;
}
.tip-header {
	border-bottom: 2px solid white;
	padding: 0.9rem 1rem;
}
.tip-body{
	padding: 0.2rem 0;
}
.tooltip h3{
	font-size: .9rem;
	color: #555;
	margin: 0;
}
.tip-info{
	margin: 0;
	padding: 0.3rem 1em;
	font-size: 0.8em;
}
.x line {
	stroke: white;
}
/*end for barchart*/

/* ---------------------------------------- */
/* HelpTip */
/* ---------------------------------------- */

.header-h4-div {
	display: block;
	text-align: center;
}
.header-h4-div h4 {
	display: inline-block;
}

.help-tip{
    position: relative;
    /*top: 18px;
    right: 18px;*/
    text-align: center;
    background-color: #999;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 14px;
    line-height: 24px;
    cursor: default;
    display: inline-block;
    vertical-align: top;;
}

.blue-colored {
    background-color: #2b8cbe;
}

h4 .blue-colored {
    font-weight: normal;
}

.help-tip:before{
    content:'?';
    font-weight: bold;
    color:#fff;
}

.help-tip:hover p{
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p{    /* The tooltip */
    display: none;
    text-align: center;
    background-color: #eee;
	padding: 6px;
	min-width: 200px;
    max-width: 260px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -28px;
    /*left: 20px;*/
    color: black;
    font-size: 16px;
    line-height: 1.4;
    z-index:9999;
}

.blue-colored p {
    background-color: #f7fcfd;
}

.help-tip p:before{ /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#eee;
    right:32px;
    top:-12px;
}

.help-tip p:after{ /* Prevents the tooltip from being hidden */
    width:100%;
    height:40px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
}

/* CSS animation */

/*
@-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}*/

/* ************************************************** */
/* Layout */
/* ************************************************** */

/* Narrow Screen */
@media (max-width: 1000px) {

	.vis-holder {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		grid-gap: 2px 6px;
	}

	/* analyzed package filter */
	#div-filter-vis {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.vertical-menu {
		max-height: 200px;
		max-width: 250px;
		overflow-y: scroll;
	}

	#div-vis-1 {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	/* both tree maps */
	.vis-svg-pkgfun {
		max-width: 420px;
	}

	/* package tree map */
	#div-pkg-tree-map {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 3;
		grid-row-end: 4;
	}

	/* functions tree map */
	#div-fun-tree-map {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
	}

}

/* Vertical-ish Screen */
@media (min-width: 1000px) and (max-width:1400px) {

	/* But your visualization should be full-width and full-height */
	.vis-holder {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 6px 10px;
	}

	/* types overview */
	#div-vis-1 {
		grid-column-start: 1;
		grid-column-end: 6;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	/* analyzed package filter */
	#div-filter-vis {
		grid-column-start: 6;
		grid-column-end: 7;
		grid-row-start: 1;
		grid-row-end: 3;
	}
	.vertical-menu {
		max-height: 400px;
		max-width: 250px;
	}

	/*#h4DefPackagesInTreeMap {
		display: none;
	}	*/

	/* both tree maps */
	.vis-svg-pkgfun {
		max-width: 420px;
	}

	/* package tree map */
	#div-pkg-tree-map {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 5;
	}

	/* functions tree map */
	#div-fun-tree-map {
		grid-column-start: 4;
		grid-column-end: 7;
		grid-row-start: 4;
		grid-row-end: 5;
	}
}

/* Default Horizontal Screen */
@media (orientation:landscape) and (min-width:1400px) {

	/* But your visualization should be full-width and full-height */
	.vis-holder {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
		grid-gap: 6px 10px;
	}

	/* types overview */
	#div-vis-1 {
		min-width: 1000px;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 4;
		/*float: left;*/
	}

	/* analyzed package filter */
	#div-filter-vis {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 2;
	}
	.vertical-menu {
		max-height: 210px;
		max-width: 250px;
	}

	/* bar chart */
	#div-barchart-1 {
		max-width: 700px;
	}

	/* both tree maps */
	.vis-svg-pkgfun {
		max-width: 460px;
	}

	/* package tree map */
	#div-pkg-tree-map {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		max-width: 470px;
	}

	/* functions tree map */
	#div-fun-tree-map {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		max-width: 470px;
	}

}

.side-right {
	float: right;
}

.side-left {
	float: left;
}

/* Fork on GitHub ribbon via https://codepo8.github.io/css-fork-on-github-ribbon/# */
#forkongithub{
    position:absolute;
    display:block;
    top:1px;
    right:0;
    /*width:200px;*/
    overflow:hidden;
    z-index:9999;
    margin: 4px;
}

#forkongithub a{
	background:#0868ac;
	color:#fff;
	text-decoration:none;
	font-family:arial,sans-serif;
	text-align:center;
	font-weight:bold;
	padding:5px 40px;
	font-size:1rem;
	line-height:1.4rem;
	position:relative;
	transition:0.5s;
	/*right: 0px;*/
}
#forkongithub a:hover{
	background:#08ac68;
	color:#fff;
}
#forkongithub a::before,#forkongithub a::after{
	content:"";
	width:100%;
	display:block;
	position:absolute;
	top:1px;
	/*width: 200px;*/
	/*right: 0px;*/
	height:1px;
	background:#fff;
}
#forkongithub a::after{
	bottom:1px;
	top:auto;
}
@media screen and (min-width:1000px){
	#forkongithub{
		position:absolute;
		display:block;
		top:0;
		right:0;
		width:200px;
		overflow:hidden;
		height:200px;
		z-index:9999;
	}
	#forkongithub a{
		width:200px;
		position:absolute;
		top:60px;
		right:-60px;
		transform:rotate(45deg);
		-webkit-transform:rotate(45deg);
		-ms-transform:rotate(45deg);
		-moz-transform:rotate(45deg);
		-o-transform:rotate(45deg);
		box-shadow:4px 4px 10px rgba(0,0,0,0.8);
	}
}
