<!DOCTYPE html>
<html lang="en">

<!-- Metadata -->
<head>
  <meta charset="utf-8">

  <!-- Title -->
  <title>Project Team 7: Visualization of Type Usage in R, CS 7250 S20</title>

  <!-- CSS Styling -->
  <link rel="stylesheet" href="static/style.css">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicons/favicon-16x16.png">
  <link rel="manifest" href="static/favicons/site.webmanifest">
  <link rel="shortcut icon" href="static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
  <!--<meta http-equiv="refresh" content="0; url=http://69.122.18.134:9898/" />-->
</head>

<!-- Main page content -->
<body>

  <!-- Update this with your GitHub repo URL -->
  <span id="forkongithub"><a href="https://github.com/NEU-CS-7250-S20/project-team-7">Fork me on GitHub</a></span>

  <div id="navigation-div">
    <div id="goto-top" class="navigation-button"
      onclick="document.getElementById('label-top').scrollIntoView({behavior: 'smooth'});">Top</div>
    <div id="goto-vis" class="navigation-button"
      onclick="document.getElementById('label-vis').scrollIntoView({behavior: 'smooth'});">Vis</div>
      <div id="goto-vis" class="navigation-button"
      onclick="document.getElementById('label-types').scrollIntoView({behavior: 'smooth'});">Types overview</div>
    <div id="goto-example" class="navigation-button"
      onclick="document.getElementById('label-example').scrollIntoView({behavior: 'smooth'});">Example</div>
    <div id="goto-video" class="navigation-button"
      onclick="document.getElementById('label-video').scrollIntoView({behavior: 'smooth'});">Video</div>
  </div>

  <!-- Your writeup goes here -->
  <div class = "content-column">

    <h1 id="label-top">Project Team 7:<br/>
      Visualization of Type Usage in R<br/>
      CS 7250 S20
    </h1>

    <p><strong>Julia Belyakova</strong>, <strong>Younes El Idrissi Yazami</strong>, <strong>Cameron Moy</strong></p>

    <p>Service-Learning Course Project as part of<br/>
      <a href="https://canvas.instructure.com/courses/1781732">CS 7250 S20: Information Visualization: Theory and Applications</a>,<br/>
        taught by <a href="https://cody.khoury.northeastern.edu/">Prof. Cody Dunne</a>,<br/>
	    <a href="https://visualization.khoury.northeastern.edu/">Data Visualization @ Khoury</a>,
      <a href="https://www.khoury.northeastern.edu/">Northeastern University</a>.
    </p>

    <h1>Motivation</h1>

    <object id="Rlogo" data="static/images/Rlogo.svg"
      width="100" type="image/svg+xml">
    </object>

    <p>
      Dynamically typed languages like R support flexible programming idioms,
      but are difficult to reason about statically without type annotations.
      Gradual type systems bridge the gap between dynamically and statically
      typed languages, permitting the incremental migration of programs
      between the two disciplines.
    </p>

    <p>
      Such type systems are usually designed in absence of empirical
      data on how developers actually write programs in the language.
      In contrast, our partner is using a data-driven approach to
      type system design, employing a dynamic analysis of type usage
      on a wide range of existing R packages.
      Unfortunately, this dataset is too large, and its raw representation
      does not allow for deriving any useful insights.
    </p>

    <p>
      Our project visualizes this type information for exploration
      and analysis. In particular, we provide facilities for filtering
      the data, displaying type signatures as flows, and integrating
      additional quantitative information.
    </p>

    <h1>Visualization</h1>

    <h2>Overview of components</h2>
    
    <ul>
      <li> <b>Definition Package Search</b><br/>
        Filter by a particular definition package or function. </li>
      <li> <b>Types Overview</b><br/>
        See all the type signatures of the most used functions
        in the selection. Brush over a flow to zoom in on it. </li>
      <li> <b>Analyzed Packages</b><br/>
        Filter by the packages that were analyzed. </li>
      <li> <b>Definition Packages/Functions</b><br/>
        Use the treemaps to see quantitative information about
        usage of functions across packages, and also filter
        by functions and/or packages that define the functions. </li>
      <li> <b>Function Information</b><br/>
        Shows a bar chart of currently selected function usage. </li>
    </ul>

    <h2 id="label-example">Example</h2>
    <ol>
      <li>Click on "FME" in Analyzed Packages to limit the data
        only to the analysis of the FME package.<br/>
        In the Types Overview, you will see the 15 most used
        function/type signatures in the package
        ("15" is the default value in the Visualization Settings).
      </li>
      <li>Brush "*" function name in Types Overview to see more
        information about the usage of the multiplication function.<br/>
        You can see that it is most often used as a binary function
        of double scalars, but there are also other type signatures.
      </li>
      <li>Double-click on Types Overview to return to the previous view.</li>
      <li>Enter "base +" and click "Show" to see the usage of addition
        in the currently selected FME package.
      </li>
      <li>Enable "Keep showing" checkbox.</li>
      <li>Click on "Sampling" in Analyzed Packages.<br/>
        Now, you can see how addition is used in the "Sampling" package.
        Note that as compared to FME, Sampling adds integer to double
        much more often.
        If you click on "Rmpfr", you will see that this package
        adds even list to double.
      </li>
      <li>Click "Clear" to return to the general overview.</li>
      <li>Enter "distrMod" in Analyzed Packages textbox and
        click "✓" button to switch to the distrMod package data.</li>
      <li>You can see in Definition Packages that the "base" package
        is the most used one.<br/>
        Click "[show more packages]" to show less popular packages.
      </li>
      <li>Click on "stats" in the packages treemap to see
        the data on functions defined in this package.<br/>
        Note that in addition to Type Overview, Defined Functions
        and Function Information get updated.
      </li>
      <li>Click on ".approxfun" in Defined Functions to see
        its type signatures.<br/>
        Note that in the distrMod package, .approxFun is the most
        used function from the stats package. This can be deduced
        from the size of its block in the treemap as well as the barchart.
      </li>
      <li>In Visualization Settings, enter "base" into the textarea
        and click "Update". <br/>
        This will exclude all the base functions from being shown.
        Now you can see that besides standard library,
        the distrMod package uses "methods" and "distr" packages a lot.
      </li>
      <li>Click "All" in Analyzed Packages.<br/>
        You will see that across all the analyzed packages,
        "methods" and "stats" are the most used packages besides
        standard library.
        You can see their most used function/type signatures
        in Types Overview.
      </li>
    </ol>

    <h2 id="label-vis">Type usage in R</h2>

  </div>

  <div class="loader"></div>

  <div id="div-entire-vis">
    <!-- Your visualization here -->
    <div id="div-analysis-info" class="blockDiv">
      <h4>
        Analysis Information
        <div class="help-tip blue-colored">
          <p>
            Some statistics about the underlying dynamic analysis data.
          </p>
        </div>
      </h4>
      <table id="table-info" class="rounded-block">
        <tr>
          <td ># dataset records</td>
          <td class="centered"><span id="infoRecordsNum">?</span></td>
          <td class="tdseparator"></td>
          <td ># function calls</td>
          <td class="centered"><span id="infoCallsNum">?</span></td>
        </tr>
        <tr>
          <td># definition packages</td>
          <td class="centered"><span id="infoDefiningPackagesNum">?</span></td>
          <td class="tdseparator"></td>
          <td># defined functions</td>
          <td class="centered"><span id="infoDefinedFunctionsNum">?</span></td>
        </tr>
        <tr>
          <td># analyzed packages</td>
          <td class="centered"><span id="infoAnalyzedPackagesNum">?</span></td>
          <td class="tdseparator"></td>
          <td># return types</td>
          <td class="centered"><span id="infoRetTypesNum">?</span></td>
        </tr>
      </table>
    </div>

    <div id="div-vis-settings" class="blockDiv">
      <h4>
        Visualization Settings
        <div class="help-tip blue-colored">
          <p>
            Global parameters of the visualization:
            maximum number of the most popular datums being displayed
            and the list of definition packages to ignore.
          </p>
        </div>
      </h4>
        <table class="rounded-block">
          <tr>
            <td><span>Max # of datums displayed:</span></td>
            <td class="tdseparator"></td>
            <td><span>Exclude functions from packages:</span></td>
          </tr>
          <tr>
            <td>
              <input type="text" id="textSelectionsNum"/><br/>
              <input type="button" id="buttonSelectionsNum"
                value="Update"/><br/>
            </td>
            <td class="tdseparator"></td>
            <td>
              <textarea id="textPackagesExclude"></textarea>
              <div class="help-tip">
                <p>enter one package per line</p>
              </div>
              <br/>
              <input type="button" id="buttonPackagesExclude"
                value="Update"/>
            </td>
          </tr>
        </table>
    </div>

    <div id="div-select-function">
      <label for="textFunctionName">
        <h4>
          Definition Package Search
          <div class="help-tip blue-colored">
            <p>
              A single definition package or a function to display.
            </p>
          </div>
        </h4>
        <span style="font-family: monospace; font-size: smaller; display: none"
         >("package [function]"):</span>
        <div class="help-tip">
          <p>enter "package [function]"</p>
        </div>
      </label>
      <input type="text" id="textFunctionName" name="textFunctionName"/>
      <input type="button" id="buttonFunctionName" value="Show"/>
      <input type="button" id="buttonClearFunctionName" value="Clear"/>
      <div class="help-tip">
        <p>click "Show" to display the selected package/function;
          click "Clear" to return to the main view;
          enable "Keep showing" to display the selection when analyzed packages change</p>
      </div>
      <input type="checkbox" id="checkboxKeepFunction"
          name="checkboxKeepFunction`"/>
      <label for="checkboxKeepFunction">Keep showing</label>
    </div>

    <div class="vis-holder" id="label-types">
      <div id="div-vis-1">
        <h4>
          Types Overview 
          <div class="help-tip blue-colored">
            <p>Shows functions and their <b>type signatures</b>
              by depicting the flow between functions and the types
              of their arguments.<br/>
              The first vertical bar represents function name.
              The second bar represents the type of the first argument,
              and so on; the last bar in each row is the return type.
            </p>
          </div>
        </h4>
        <svg id="vis-svg-1" class="vis-svg-types"
          viewBox="0 0 870 615" preserveAspectRatio="xMidYMid meet"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
      </div>

      <div id="div-filter-vis" class="vis-filter-div">
        <h4>
          Analyzed Packages
          <div class="help-tip blue-colored">
            <p>
              List of all packages analyzed during the analysis
              (with the number of function calls made in each package).
              Select one or more packages to limit the data being displayed.
            </p>
          </div>
        </h4>
        <div id="div-filter-vis-content">
        <input type="checkbox" id="checkboxAnalyzedAll"
          name="checkboxAnalyzedAll"/>
        <label for="checkboxAnalyzedAll">All</label><br/>
        <input type="text" id="textAnalyzedPackage" name="textAnalyzedPackage"/>
        <input type="button" id="buttonAnalyzedPackageSelect" value="✓"/>
        <input type="button" id="buttonAnalyzedPackageUnselect" value="✗"/><br/>
        <input type="checkbox" id="checkboxAnalyzedMultiple"
          name="checkboxAnalyzedMultiple"/>
        <label for="checkboxAnalyzedMultiple">Select multiple</label><br/>
        <div id="filter" class="">
        </div>
        </div>
      </div>

      <div id="div-pkg-tree-map" class="">
        <h4>
          Definition Packages
          <div class="help-tip blue-colored">
            <p>
              Interactive treemap of the packages that define the most
              popular functions for the currently selected analyzed packages.
              Select one or more packages to see an overview of their functions.
            </p>
          </div>
        </h4>
        <div class="centered-block">
        <input type="checkbox" id="checkboxPkgMultiple" name="checkboxPkgMultiple"/>
        <label for="checkboxPkgMultiple">Select multiple packages</label><br/>
        <svg id="vis-svg-2-pkg-tree-map" class="vis-svg-pkgfun"
          viewBox="0 0 260 140" preserveAspectRatio="xMidYMid meet"
          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
        </div>
      </div>

      <div id="div-fun-tree-map" class="">
        <h4>
          Defined Functions
          <div class="help-tip blue-colored">
            <p>
              Interactive treemap of the most popular functions
              for the currently selected analyzed packages.
              Select a function to see its overview.
            </p>
          </div>
        </h4>
        <div class="centered-block">
        <input type="checkbox" id="checkboxFunMultiple" name="checkboxFunMultiple"
          disabled/>
        <label for="checkboxFunMultiple">Select multiple functions</label><br/>
        <svg id="vis-svg-3-fun-tree-map" class="vis-svg-pkgfun"
          viewBox="0 0 260 140" preserveAspectRatio="xMidYMid meet"
          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        </svg>
        </div>
      </div>
    </div> 

    <div id="div-barchart-1" class="">
      <h4>
        Function Information
        <div class="help-tip blue-colored">
          <p>
            Barchart of the most popular functions
            for the currently selected analyzed packages.
            Hover over a bar to see the details.
          </p>
        </div>
      </h4>
      <div class="tooltip">
        <div class="tip-header">
          <h3></h3>
        </div>
        <div class="tip-body"></div>
      </div> 
      <svg id="barchart-1" preserveAspectRatio="xMidYMid meet"
        viewBox="0 0 500 240">
      </svg> 
    </div>
  </div> 

  <div class="content-column" style="width:100%">

    <h1 id="label-video">Demo Video</h1>

    <p><em>Embedded MP4 demo video using the HTML5 &lt;video&gt; tag. For example, this screen recording Prof. Cody Dunne made of Mike Bostock's flexible transitions in D3 slide:</em></p>

    <video controls width="100%">
      <source src="http://www.ccs.neu.edu/home/cody/courses/shared/d3-flexible-transitions.mp4" type="video/mp4">
      <p>Your browser doesn't support HTML5 video. Here is
       a <a href="http://www.ccs.neu.edu/home/cody/courses/shared/d3-flexible-transitions.mp4">link to the video</a> instead.</p>
    </video>

    <h1>Visualization explanation</h1>

    <p><em>Basic overview, UI walk-through, and linked presentation slides.</em></p>

    <h1>Acknowledgments</h1>

    <p><em>List here where any code, packages/libraries, text, images, designs, etc. that you leverage come from.</em></p>

    <ul>
      <li><a href="https://www.r-project.org/logo/">R project logo</a>.</li>
      <li><a href="https://d3js.org/">D3: Data-Driven Documents</a> by Mike Bostock.</li>
      <li><a href="https://codepo8.github.io/css-fork-on-github-ribbon/#">Pure CSS responsive "Fork me on GitHub" ribbon</a> by Chris Heilmann.</li>
      <li><a href="https://github.com/d3/d3-sankey">D3: Sankey</a> by Mike Bostock.</li>
      <li><a href="https://observablehq.com/@d3/parallel-sets?collection=@d3/d3-sankey">Parallel Sets</a> by Mike Bostock.</li>
      <li><a href="https://observablehq.com/@d3/treemap">Treemap</a> by Mike Bostock.</li>
      <li><a href="https://observablehq.com/@d3/zoomable-treemap">Zoomable Treemap</a> by Mike Bostock.</li>
      <li><a href="https://www.d3indepth.com/layouts/">Layouts</a> from D3 in Depth.</li>
      <li><a href="https://palletsprojects.com/p/flask/">Flask</a> by Armin Ronacher.</li>
      <li><a href="https://flask.palletsprojects.com/en/1.1.x/patterns/sqlite3/">Flask SQLite3 Example</a> by Armin Ronacher.</li>
      <li><a href="https://lodash.com/">Lodash</a>.</li>
      <li><a href="https://www.w3schools.com/howto/howto_css_loader.asp">Loader</a>.</li>
      <li><a href="https://tutorialzine.com/2014/07/css-inline-help-tips">Help tooltip</a> from tutorialzine.</li>
    </ul>

  </div>

  <!-- Scriptt the end avoid need for dealing with async, defer, or onload event handlers -->
  <script type="text/javascript">
    window.appConfig = {
      rootPath: '{{ data.rootPath }}'
    }
  </script>
  <script src="static/lib/lodash.min.js"></script>
  <script src="static/lib/d3.v5.15.0/d3.min.js"></script>
  <script src="static/lib/d3-sankey.js"></script>
  <script src="static/js/utils.js"></script>
  <script src="static/js/vis-dom.js"></script>
  <script src="static/js/types-overview.js"></script>
  <script src="static/js/barChart.js"></script>
  <script src="static/js/package-filter.js"></script>
  <script src="static/js/treemap-utils.js"></script>
  <script src="static/js/pkgfun-treemap.js"></script>
  <script src="static/js/visualization.js"></script>
</body>
</html>
